<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Library"
        android:roundIcon="@drawable/liblogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".book_single_info"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".show_faculty" />
        <activity android:name=".show_students" />
        <activity android:name=".faculty_history" />
        <activity android:name=".student_history" />
        <activity android:name=".history_for" />
        <activity android:name=".show_history" />
        <activity android:name=".show_book" />
        <activity android:name=".return_from_both" />
        <activity android:name=".issue_to_both" />
        <activity android:name=".ForgotPassword"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".returnfaculty"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".returnstudent"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".issuetofaculty"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".issuetostudent"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".editinfo" />
        <activity android:name=".edit_account_info" />
        <activity android:name=".MainActivity" />
        <activity android:name=".editfacultyinfo"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".editstudentinfo"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".profile_settings"></activity>
        <activity
            android:name=".Login"
            android:label="Library"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".add_faculty"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".add_student"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".add_book"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".sign_up"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>